.authContainer{
    margin: 0 auto;
    box-sizing: border-box;
    background:#0a3d62 ;
    color: white;
    padding: 20px;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0px 4px 5px -1px rgb(8, 8, 8);
}

.authContainer h2{
    color: #b1bb78;
}

.authForm{
    box-sizing: border-box;
    background:#0a3d62 ;
    width: 75%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.authForm input {
    width: 80%;
    background: white;
    padding: 15px 10px;
}
.authForm input:focus{
    border-left: 2px solid #E65100;

}

.authForm button{
    padding: 20px;
    margin-top:10px;
}

.authContainer span{
    color: #fa1e3c;
    font-weight: 600;
    font-size: 1.2em;
    cursor: pointer;

}

@media screen and (max-width:700px){
    .authContainer{
        width:85%;
    }
    .authContainer form{
        width: 90%;
    }

}

