.navigation{
    list-style: none;
    display:flex;
    padding:0;
    justify-content: flex-end;
    align-items: center;
}
.navigation li{
    display:inline-block;
    padding: 10px;
    height: 100%;
}
.navigation a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    letter-spacing: 1px;
    display:inline-block;
    height: 100%;
    transition: color .2s linear;
}

.navigation a:hover{
   color: orange;

}

.navigation a.active{
    color: orange;;

}
.navigation p{
    margin: 0;
    color:#FDD835;
    font-weight: bold;
    letter-spacing: 1px;
    height: 100%;
    cursor: pointer;
    transition: color .2s linear;
}

.navigation p:hover{
    color: #00E676;
}

.navigation .petComponent{
    margin-left: 0;
    margin-right: auto;
}
@media screen and (max-width:660px){
    .navigation a{
        font-size: 12px;
    }

}

@media screen and (max-width:569px){
    .navigation{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navigation .petComponent{
        margin-bottom: 20%;
    } 
    .navigation a{
        font-size: 16px;
    }
}